<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <link rel="stylesheet" href="/css/adminmanagement.css"></head>
</head>
<body>
<h1>Add New Product</h1>
<form th:action="@{/admin/product/added}" method="post" enctype="multipart/form-data">
    <div th:if="${error}" class="alert-danger" th:text="${error}"></div> <!-- Error message -->
    <div>
        <label for="sku">Sku:</label>
        <input type="text" name="sku" id="sku" required>
    </div>
    <div>
        <label for="name">Product Name:</label>
        <input type="text" name="productName" id="name" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required>
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" required>
    </div>
    <div>
        <label for="imageFile">Image:</label>
        <input type="file" name="imageFile" id="imageFile" accept="image/*" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required>
    </div>
    <div>
        <label for="category">Category:</label>
        <select name="categoryId" id="category" required>
            <option th:each="category : ${categoryList}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    </div>
    <input type="submit" value="Add Product">
</form>
</body>
</html>
