<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/adminmanagement.css">
</head>
<body>
<h1>Edit Product</h1>
<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<form th:action="@{/admin/product/update}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${product.id}" readonly/>
    <div>
        <label for="sku">Product Sku:</label>
        <input type="text" name="sku" id="sku" th:value="${product.sku}" required>
    </div>
    <div>
        <label for="name">Product Name:</label>
        <input type="text" name="productName" id="name" th:value="${product.productName}" required>
    </div>
    <div>
        <label for="image">Image:</label>
        <img style="width: 200px; height: 200px" th:src="${product.image}" alt="product image">
        <img id="imagePreview" style="width: 200px; height: 200px; display: none;" alt="image preview">
        <input type="file" name="imageFile" id="image" accept="image/*" onchange="previewImage(this)">
        <p>Keep current image: <input type="checkbox" name="keepCurrentImage" value="true"></p>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" th:value="${product.price}" required>
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" th:value="${product.stock}" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" th:value="${product.description}" required>
    </div>
    <div>
        <label for="category">Category:</label>
        <select name="categoryId" id="category" required>
            <option th:each="category : ${categoryList}"
                    th:value="${category.id}"
                    th:text="${category.name}"
                    th:selected="${category.id == product.category.id}"></option>
        </select>
    </div>
    <input type="submit" value="Update Product">
</form>
<script>
    function previewImage(input) {
        const imagePreview = document.getElementById('imagePreview');
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result; // Cập nhật src img
                imagePreview.style.display = 'block'; // Hiển thị preview
            }
            reader.readAsDataURL(file); // Chuyển file thành URL của img
        } else {
            imagePreview.style.display = 'none'; // Ẩn nếu không có tệp tin
        }
    }
</script>
</body>
</html>
