<!-- navbar.html -->
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle mx-2">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" th:href="@{/logout}">
                    <img src="/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="User"/>
                    <span class="text-dark">Chris Hung</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" th:href="@{/logout}">
                        <i class="align-middle" data-feather="log-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
