<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/adminmanagement.css">
</head>
<body>
<h1>Add New Category</h1>
<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<form th:action="@{/admin/category/added}" method="post">
    <div>
        <label for="name">Category's Name:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="description">Category's Description:</label>
        <input type="text" name="description" id="description" required>
    </div>
    <input type="submit" value="ADD">
</form>
</body>
</html>
