<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
    <link rel="stylesheet" href="/css/adminmanagement.css"></head>
<body>
<h1>Update Category</h1>

<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/admin/category/update(id=${category.id})}" method="post">
    <div>
        <label for="id">Id:</label>
        <input type="text" th:value="${category.id}" name="id" id="id" readonly>
    </div>
    <div>
        <label for="name">Category's Name:</label>
        <input type="text" th:value="${category.name}" name="name" id="name" required>
    </div>
    <div>
        <label for="description">Category's Description:</label>
        <input type="text" th:value="${category.description}" name="description" id="description" required>
    </div>
    <div>
        <label>Status:</label>
        <div>
            <input type="radio" name="status" id="active" value="true" th:checked="${category.status}"/>
            <label for="active">Active</label>
        </div>
        <div>
            <input type="radio" name="status" id="inactive" value="false" th:checked="${!category.status}"/>
            <label for="inactive">Inactive</label>
        </div>
    </div>
    <input type="submit" value="UPDATE">
</form>
</body>
</html>
