<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/admin/head.html"></head>
<body>
<main class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="index.html">
                <span class="align-middle">AdminKit</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">Pages</li>
                <li class="sidebar-item"><a class="sidebar-link" href="/admin"><i class="align-middle"
                                                                                      data-feather="grid"></i> <span
                        class="align-middle">Dashboard</span></a></li>
                <li class="sidebar-item active"><a class="sidebar-link" href="/admin/category"><i class="align-middle"
                                                                                         data-feather="grid"></i> <span
                        class="align-middle">Category</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="/admin/product"><i class="align-middle"
                                                                                        data-feather="square"></i> <span
                        class="align-middle">Product</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="/admin/user"><i class="align-middle"
                                                                                              data-feather="user"></i>
                    <span class="align-middle">User</span></a></li>
            </ul>
        </div>
    </nav>

    <main class="main">
        <div th:replace="layout/admin/navbar.html"></div>
        <main class="content">
            <div class="container-fluid p-0">
                <!-- User Management Section -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách Category</h3>
                        <a href="/admin/category/add" class="btn btn-success">+ ADD NEW</a>
                                                <nav class="navbar navbar-expand-lg bg-light">
                                                    <div class="container-fluid">
                                                        <form class="d-flex" role="search" th:action="@{/admin/category}" method="get">
                                                            <input class="form-control me-2 fst-italic" type="search" name="keyword"
                                                                   th:value="${keyword}" placeholder="Enter user's name... " aria-label="Search">
                                                            <button class="btn btn-outline-success" type="submit">Search</button>
                                                        </form>
                                                    </div>
                                                </nav>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th colspan="3">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c, loop : ${categories}"  th:style="${!c.status} ? 'text-decoration: line-through; color: red;' : ''">
                                <td th:text="${loop.index + 1}"></td>
                                <td th:text="${c.name}"></td>
                                <td th:text="${c.description}"></td>
                                <td th:text="${c.status} ? 'Active' : 'Inactive'"></td>
                                <td>
                                    <form th:action="|/admin/category/edit/${c.id}|" method="get" style="display:inline;">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
<!--                                    <span th:if="${!c.status}"> (Cannot edit)</span>-->
                                    <form th:action="|/admin/category/delete/${c.id}|" method="post" style="display:inline;">
                                        <input type="hidden" name="confirm" value="true">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="btn btn-danger" onclick="return confirmDelete();">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <footer th:replace="layout/admin/foot.html"></footer>
            </div>
        </main>
    </main>
</main>
</body>
</html>

